#Full folders ignored.
.vscode/**
.github/**
out/test/**
src/**
.vscode-test/**

#Root files ignored.
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.all-contributorsrc
**/.gitignore
**/tsconfig.json
**/tslint.json

# Specific extension
**/*.ts

#Screenshots folder. (all but the main icon)
Screenshots/Preview.gif
Screenshots/Preview2ndcommand.gif
Screenshots/RightClickMenu.gif
Screenshots/command.png
Screenshots/README.md
Screenshots/command.png
Screenshots/output.png
Screenshots/rawIcon.png
Screenshots/RightClick.png
Screenshots/SelectedText.gif
