.vscode/**
.vscode-test/**
test/**
.gitignore
**/jsconfig.json
**/*.map
**/.eslintrc.json
Screenshots/Preview.gif
Screenshots/Preview2ndcommand.gif
Screenshots/command.png
Screenshots/output.png
Screenshots/rawIcon.png
Screenshots/RightClick.png